/* Font Family */
@use "@fontsource-utils/scss" as fontsource;
@use "@fontsource-variable/geist/scss/mixins" as GeistSans;
@use "@fontsource-variable/geist-mono/scss/mixins" as GeistMono;
@use "@fontsource/staatliches/scss/mixins" as Staatliches;
@use "@fontsource/nanum-pen-script/scss/mixins" as NanumPenScript

@include fontsource.faces(
  $metadata: GeistSans.$metadata,
  $directory: "/assets/fonts/geist/files"
)

@include fontsource.faces(
  $metadata: GeistMono.$metadata,
  $directory: "/assets/fonts/geist-mono/files"
)

@include fontsource.faces(
  $metadata: Staatliches.$metadata,
  $directory: "/assets/fonts/staatliches/files"
)

@include fontsource.faces(
  $metadata: NanumPenScript.$metadata,
  $directory: "/assets/fonts/nanum-pen-script/files"
)

@theme default
  --font-sans: "Geist Variable"
  --font-mono: "Geist Mono Variable"

$heading-gradient: bg-gradient-to-r from-text-default to-text-secondary bg-clip-text text-transparent // Attribution https://stackoverflow.com/questions/71205457/how-to-add-a-linear-gradient-to-text-in-tailwind-css
/* Default Text Styles */
@layer base

  h1
    @apply text-3xl font-primary #{$heading-gradient}

  h2
    @apply text-2xl font-primary #{$heading-gradient}

  h3
    @apply text-xl font-primary #{$heading-gradient}

  h4
    @apply text-lg font-primary #{$heading-gradient}

  h5
    @apply text-base font-primary #{$heading-gradient}

  p
    @apply text-lg font-secondary text-color-secondary

  small
    @apply text-base font-tertiary text-color-tertiary

  /** When surrounding contact information with <address></address>, don't override font style.*/
  address
    font-style: unset

@utility text-hero-accent
  font-family: "Staatliches"
  letter-spacing: 0.1125em
  color: var(--text-color-accent)