$font-weight-secondary: 400
$font-weight-button: $font-weight-secondary + 50

@theme
  --font-weight-primary: 700
  --font-weight-secondary: #{$font-weight-secondary}
  --font-weight-tertiary: 350
  --font-weight-button: #{$font-weight-button}

