:host
  --animate-phone: phone-ring 300ms ease-in-out infinite

@layer components
  @keyframes phone-ring
    0%, 100%
      transform: rotate(0deg)
    25%
      transform: rotate(-5deg)
    75%
      transform: rotate(15deg)
