@use './convert.sass'

@theme
  --radius-xs: #{convert.pxToRem(6)}
  --radius-sm: #{convert.pxToRem(10)}
  --radius-md: #{convert.pxToRem(14)}
  --radius-lg: #{convert.pxToRem(18)}
  --radius-xl: #{convert.pxToRem(32)}
  --radius-2xl: #{convert.pxToRem(64)}
  --radius-3xl: #{convert.pxToRem(128)}