@use './convert.sass'

@theme
  --shadow-sm: 0 0 #{convert.pxToRem(4)} 0 var(--color-shadow)
  --shadow-md: 0 0 #{convert.pxToRem(16)} 0 var(--color-shadow)
  --shadow-lg: 0 0 #{convert.pxToRem(24)} 0 var(--color-shadow)
