@use './convert.sass'

@theme
  --spacing: #{convert.pxToRem(1)}
  --spacing-xs: #{convert.pxToRem(12)}
  --spacing-sm: #{convert.pxToRem(20)}
  --spacing-md: #{convert.pxToRem(24)}
  --spacing-lg: #{convert.pxToRem(40)}
  --spacing-xl: #{convert.pxToRem(62)}
  --spacing-2xl: #{convert.pxToRem(132)}
  --spacing-3xl: #{convert.pxToRem(264)}