@plugin "tailwindcss-animate";

/*
  Zard Dark Slate theme. It is a mixture between the Zard design tokens and the current design system,
  used for default Zard components before any adjustments to their styling. */
@theme inline // // Attribution https://github.com/zard-ui/zardui/issues/213#issuecomment-3267723847
  --color-background: var(--bg-color-page)
  --color-foreground: var(--on-bg-color-default)
  --color-card: var(--bg-color-suface1)
  --color-card-foreground: var(--text-color-default)
  --color-popover: var(--bg-color-surface1)
  --color-popover-foreground: var(--text-color-default)
  --color-primary: var(--color-brand)
  --color-primary-foreground: var(--on-bg-color-button)
  --color-secondary: var(--bg-color-surface1)
  --color-secondary-foreground: var(--text-color-secondary)
  --color-muted: var(--bg-color-surface2)
  --color-muted-foreground: var(--text-color-tertiary)
  --color-accent: var(--text-color-accent)
  --color-accent-foreground:  var(--on-bg-color-button)
  --color-destructive: oklch(0.577 0.245 27.325)
  --color-border: var(--border-color-default)
  --color-input: var(--bg-color-button)
  --color-ring: var(--border-color-strong)
  --color-chart-1: oklch(0.488 0.243 264.376)
  --color-chart-2: var(--color-gray-400)
  --color-chart-3: oklch(0.769 0.188 70.08)
  --color-chart-4: oklch(0.627 0.265 303.9)
  --color-chart-5: oklch(0.645 0.246 16.439)
  // Ignore Sidebar color styles until Portfolio Project needs it
  --color-sidebar: oklch(0.208 0.042 265.755)
  --color-sidebar-foreground: oklch(0.984 0.003 247.858)
  --color-sidebar-primary: oklch(0.488 0.243 264.376)
  --color-sidebar-primary-foreground: oklch(0.984 0.003 247.858)
  --color-sidebar-accent: oklch(0.279 0.041 260.031)
  --color-sidebar-accent-foreground: oklch(0.984 0.003 247.858)
  --color-sidebar-border: oklch(1 0 0 / 10%)
  --color-sidebar-ring: oklch(0.551 0.027 264.364)