@layer utilities
  [data-theme='neon']
    /* Brand */
    --color-brand: var(--color-green-100)
    --color-brand-subtle: var(--color-green-900)

    /* Foreground */
    --text-color-default: var(--color-white-0)
    --text-color-accent: var(--color-green-100)
    --text-color-secondary: var(--color-gray-100)
    --text-color-tertiary: var(--color-gray-200)

    /* bg */
    --bg-color-surface1: var(--color-black-1050)
    --bg-color-surface2: var(--color-gray-900)
    --bg-color-page: var(--color-black-1150)
    --bg-color-page-gradient: var(--color-black-1000)
    --bg-color-button: var(--color-brand)

    /* Border */
    --border-color-default: var(--color-gray-600)
    --border-color-strong: var(--color-brand)
    --border-color-button: var(--color-green-100)
    --border-color-company-icon: var(--color-white-0)
    --border-color-subtle: var(--color-gray-800)
    --border-color-medium: var(--color-gray-600)

    /* On-bg */
    --on-bg-page-text-color-default: var(--color-white-0)
    --on-bg-page-text-color-secondary: var(--color-gray-100)
    --on-bg-page-text-color-tertiary: var(--color-gray-200)
    --on-bg-page-text-color-accent: var(--color-brand)
    --on-bg-button-color: var(--color-black-1000)